body {
  font-family: 'EB Garamond', serif;
  background: #FAFAFA;
}

h3 {
  font-size: 25px;
}

header {
  margin-top: 45px;
  padding-top: 5px;
  margin-bottom: 15px;
}
header img {
  width: 200px;
  margin: 0 auto;
}
header h1 {
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  text-shadow: 1px 1px 0px #FFF;
  margin-bottom: 0px;
}

.panel h2, .panel h3 {
  margin-top: 3px;
  margin-bottom: 10px;
}
.panel p {
  font-size: 18px;
}

.intro {
  text-align: center;
  font-style: italic;
  font-size: 23px;
}

.about h3 {
  margin-bottom: 5px;
}
.about p {
  margin-bottom: 10px;
}

.contact a {
  display: block;
  font: serif;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #4CB575;
  font-size: 20px;
}
.contact a:hover {
  color: #3D8E5A;
}
.contact span {
  margin-right: 5px;
}

.services img.img-thumbnail {
  max-width: 150px;
}
.services h3 {
  text-shadow: 1px 1px 0px #FFF;
}

@media screen and (min-width: 992px) {
  .services .row {
    margin-bottom: 30px;
  }
  .services ul {
    margin-left: 15px;
    padding-left: 0px;
  }

  .container {
    max-width: 930px;
  }

  .panel.column {
    min-height: 370px;
  }

  .buttun-group {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .services p {
    max-width: 300px;
  }
}
