body {
  font-family: 'EB Garamond', serif;
  background: #F7F7F7;
}

h3 {
  font-size: 25px;
}

header {
  margin-top: 45px;
  padding-top: 5px;
  margin-bottom: 15px;
}
header img {
  width: 200px;
  margin: 0 auto;
}
header h1 {
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  text-shadow: 1px 1px 0px #FFF;
  margin-bottom: 0px;
}

.panel {
  border-top: 4px solid #4CB575;
}
.panel h2, .panel h3 {
  margin-top: 3px;
  margin-bottom: 10px;
}
.panel p {
  font-size: 18px;
}

.intro {
  text-align: center;
  font-style: italic;
  font-size: 23px;
}

.about h3 {
  margin-bottom: 5px;
}
.about p {
  margin-bottom: 10px;
}

.contact a {
  display: inline-block;
  font: serif;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #4CB575;
  font-size: 20px;
}
.contact a:hover {
  color: #3D8E5A;
}
.contact span {
  margin-right: 5px;
}

.services img.img-thumbnail {
  max-width: 150px;
}
.services h3 {
  text-shadow: 1px 1px 0px #FFF;
}

.discount {
  margin-top: 30px;
}

.screen {
  display: none;
}

.discount-message {
  top: -200px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  margin-left: -350px;
  background: white;
  width: 700px;
  border-radius: 10px;
  padding: 10px;
}

div.screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}

.showModal .screen {
  display: block;
}

.showModal .discount-message {
  top: 300px;
  transition: top 300ms ease;
}

.close-it {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  color: grey;
  cursor: pointer;
}
.close-it:hover {
  color: #EC4824;
}

@media screen and (min-width: 992px) {
  .services .row {
    margin-bottom: 30px;
  }
  .services ul {
    margin-left: 15px;
    padding-left: 0px;
  }

  .container {
    max-width: 930px;
  }

  .panel.column {
    min-height: 370px;
  }

  .buttun-group {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .services p {
    max-width: 300px;
  }
}
@media screen and (max-width: 730px) {
  .discount-message {
    margin-left: -300px;
    width: 600px;
  }
}
@media screen and (max-width: 730px) {
  .discount-message {
    margin-left: -250px;
    width: 500px;
  }
}
@media screen and (max-width: 520px) {
  .discount-message {
    margin-left: -225px;
    width: 450px;
  }

  .showModal .discount-message {
    top: -300px;
    top: 100px;
    transition: top 300ms ease;
  }
}
@media screen and (max-width: 470px) {
  .discount-message {
    margin-left: -200px;
    width: 400px;
  }
}
@media screen and (max-width: 420px) {
  .discount-message {
    padding-top: 20px;
    margin-left: -175px;
    width: 350px;
  }
}
@media screen and (max-width: 360px) {
  .discount-message {
    margin-left: -155px;
    width: 310px;
  }
}
